@import url(//db.onlinewebfonts.com/c/721c73bcd2e49f3a621991089838b503?family=Euclid+Circular+B+Medium);

:root {
  /* Global variables */
  --outer-box-heigth: 740px;
  --primary-color: #F15825;
  --secondary-color: #35495C;
  --ternary-color: #EFEFEF;
  --modals: #F0EAD6;
  --borders: #00284d;
  box-sizing: border-box;
  overflow: hidden;
}

.Toastify__toast-container {
  display: none;
}

#root {
  overflow-y: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Euclid Circular B Medium',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--borders);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: var(--modals);
}

#metamask__wrapper {
  font-family: 'Euclid Circular B Medium', sans-serif;
  font-weight: 700;
  width: 100%;
}

#login__wrapper {
  font-weight: 400;
  width: 600px;
  background-color: var(--modals);
  border-radius: 8px;
  padding: 20px;
}

#wallets__wrapper {
  width: 100%;
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
}


/******** Main Board ********/
/* Hide scrollbar but allows scroll for main Content in Chrome, Safari and Opera */
#mainRoom::-webkit-scrollbar,
#cupsContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar but allows scroll for main Content in IE, Edge and Firefox */
#mainRoom,
#cupsContainer {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

#cupsContainer {
  overflow-x: scroll !important;
  padding-right: 0 400px;
}

/***** SideBar *****/
/* Details */
.details div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--borders);
  font-weight: 500;
}

.details div strong {
  color: var(--primary-color);
  font-weight: 400;
}

/* Players */
.players div[class$="__players"] span {
  color: var(--primary-color);
  font-weight: 500;
}

.players div[class$="__players"] li {
  color: var(--borders)
}

.players div[class$="__players"] li.out {
  color: var(--secondary-color)
}

.players div[class$="__players"] li.active {
  color: var(--primary-color)
}

.join__buton {
  border-radius: 0;
  border-bottom-right-radius: 8px;
  background-color: var(--primary-color);
  width: 100%;
  color: var(--ternary-color);
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  aspect-ratio: 4 / 1;
}

/***** BoardGame *****/
/* Dice */
.dice svg {
  margin: 4px 12px;
}

.die .question_die {
  margin: 6px;
}

.dice {
  margin: 2rem 0;
}

/*** Players UI ***/
/* Players Cup */
.player__ui {
  margin: 0 20px;
  color: var(--modals);
  display: flex;
  flex-direction: column;
  width: 160px;
  justify-content: start;
  align-items: center;
  padding: 10px;
  margin: 0 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./assets/cupInactive.svg);
  aspect-ratio: 1;
}

.player__ui.active {
  background-image: url(./assets/cup.svg);
  color: var(--secondary-color)
}

.player__ui .own_turn {
  color: var(--primary-color)
}

.player__cup {
  background-repeat: no-repeat;
  background-position: center center;
  height: 56%;
  width: 213px;
  display: flex;
}


.claim {
  width: 161px;
  height: 47px;
  margin-bottom: -1px;
  color: var(--modals);
  background-color: var(--primary-color);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.claim span {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  font-weight: 400;
}



/* Metamask svg */
.st0 {
  fill: #E2761B;
  stroke: #E2761B;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.st1 {
  fill: #E4761B;
  stroke: #E4761B;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.st2 {
  fill: #D7C1B3;
  stroke: #D7C1B3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.st3 {
  fill: #233447;
  stroke: #233447;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.st4 {
  fill: #CD6116;
  stroke: #CD6116;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.st5 {
  fill: #E4751F;
  stroke: #E4751F;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.st6 {
  fill: #F6851B;
  stroke: #F6851B;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.st7 {
  fill: #C0AD9E;
  stroke: #C0AD9E;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.st8 {
  fill: #161616;
  stroke: #161616;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.st9 {
  fill: #763D16;
  stroke: #763D16;
  stroke-linecap: round;
  stroke-linejoin: round;
}