.App {
  text-align: center;
  scroll-snap-type: y mandatory;
  position: absolute;
  width: 100%;
}


.App-header {
  background-color: var(--primary-color);
  min-height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--ternary-color);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
