<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Liar's Dice</title>
        <meta content="Ardan liar's dice" name="description">
        <meta charset="utf-8">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.7.4/web3.min.js"></script>
        <link rel="stylesheet" href="/assets/styles/main.css?v1">
        <script src="/assets/scripts/main.js?v1"></script>
    </head>
    <body>
        <p>Player</p>
        <input type="button" value="Connect Wallet" onclick="connect();">
        <input type="button" value="Place Ante" onclick="ante();">
        <input type="button" value="Make deposit" onclick="deposit();">
        <input type="button" value="Withdraw balance" onclick="withdraw();">
        <p>Owner</p>
        <input type="button" value="End game" onclick="end();">
        <input type="button" value="Show game pot" onclick="pot();">
    </body>
</html>
